
body {
  background-color: rgba(200, 199, 199, 0.526);
}
.title {
  text-align: center;
  margin-bottom: 2rem;
}

footer{
  margin-top: 340px;
  text-align: center;
  margin-bottom: 2rem;
}

.btn-tambah {
  padding: 15px;
  border-radius: 10px;
  border: none;
  color: white;
  background: linear-gradient(to right, blue, rgb(0, 238, 255));
}

.card {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 5rem;
  justify-content: center;
}

.card-container {
  background-color: white;
  padding: 2rem 4rem;
  border-radius: 20px;
  text-align: center;
  position: relative;
  overflow: hidden;
  text-align: center;
}

.card-container ::before {
  content: "";
  background: linear-gradient(
    to right,
    blue,
    rgb(255, 255, 255),
    rgb(0, 238, 255)
  );
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 10px;
}

span {
  color: blue;
}

.btn-edit {
  padding: 10px;
  border-radius: 5px;
  border: none;
  background-color: orange;
  color: white;
}

.btn-hapus {
  margin-left: 1rem;
  padding: 10px;
  border-radius: 5px;
  border: none;
  background-color: rgb(255, 0, 0);
  color: white;
}

.btn-simpan {
  padding: 10px;
  border-radius: 5px;
  border: none;
  background-color: limegreen;
  color: white;
  margin-top: 20px;
  cursor: pointer;
}

.btn-cancel{
  padding: 10px;
  border-radius: 5px;
  border: none;
  background-color: rgb(255, 0, 0);
  color: white;
  margin-top: 20px;
  cursor: pointer;
  margin-right: 20px;
}

.form {
  position: fixed;
  justify-items: center;
  text-align: center;
  background-color: white;
  padding: 40px;
  border-radius: 24px;
  z-index: 99999999999999999999999;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.form input,
select {
  padding: 15px;
  border: 2px solid #f0f0f0;
  border-radius: 12px;
  font-size: 1rem;
  outline: none;
  gap: 5px;
}
